/* 
body {
    background: #fff;
    font-family: Helvetica, sans-serif;
    border-top: 15px solid #424242;
    margin: 0 auto;
}

img {
    width: 100%;
    border-radius: 20px;
}

main {
    margin: 0 auto;
    width: 800px;
}

.details {
    display: flex;
    gap: 25px;
}

.details section {
    flex-grow: 1;
    flex-basis: 0;
    background: #eee;
    padding: 25px;
    border-radius: 20px;
    margin-top: 25px;
}

h2 {
    margin: 0 0 10px 0;
}

p {
    margin: 0;
    line-height: 1.4em;
}

section {
    width: 50%;
} */
